@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: url("img/pitch.jpg") no-repeat center center/cover;
  min-height: 100vh;
  color: white;
  font-family: "Nunito", sans-serif, Arial, Helvetica;
  font-weight: lighter;
}

.nav-bar {
  background-color: #283428c2;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.nav-bar a {
  text-decoration: none;
  margin: 10px;
}
.nav-bar a:visited {
  color: white;
}
.nav-bar span a {
  font-size: x-large;
}
.homepage h1,
.homepage p,
.title {
  margin: 50px;
  background-color: #565c6967;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.matches,
.stats {
  /* height: 90vh; */
  text-align: center;
  padding-top: 10px;
  background-color: #282c3467;
}
.matches h1 {
  margin-left: 20px;
}
.predictions ul {
  list-style-type: none;
}
.predictions ul li {
  margin: 10px 20px;
}

#prediction {
  margin-left: .5em;
}

.nav-bar span a {
  color: rgb(76, 209, 87);
}

.totals {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  background-color: #565c6967;
}
